:root{
    --prim-color:#8474ef;
    --sec-color:#5544bd;
    --stgr-color:#1d1550;
    --th-color:#ADD8E6;
    --qt-color:#6f9797;
    --black:#09061c;
    --white: #f2f2f2;
}


body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: var(--qt-color);
}
header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    color: var(--white);
}
.title{
    margin-left: 20px;
    font-weight: bold;
}

.tituloEscola h1{
    letter-spacing: 4px;
    font-size: 100px;
    color: var(--stgr-color);

}
.tituloEscola h1 span{
    font-size: 85px;
    color: var(--black);

}
.box-acoes{
    margin-right: 20px;
}
.box-acoes a{
    color: var(--white);
    margin-right: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-links {
    margin-right: 20px;
    color: var(--white);
    text-shadow: 0 0 0 transparent;
    transition: text-shadow 0.3s ease; 
}

.nav-links:hover {
    text-shadow: 0 0 5px var(--prim-color),
                 0 0 25px var(--prim-color);
    cursor: pointer;
}

.homeContainer{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.Box-img-estudante{
    max-width: 450px;

}

.img-estudante{
    border-radius: 60%;
    width: 100%;
}