:root{
    --prim-color:#8474ef;
    --sec-color:#5544bd;
    --th-color:#ADD8E6;
    --qt-color:#597878;
    --black:#09061c;
    --white: #f2f2f2;
}


body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    color: var(--white);
}
.title{
    margin-left: 20px;
}
.box-acoes{
    margin-right: 20px;
}
.box-acoes a{
    color: var(--white);
    margin-right: 20px;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cabecalho a {
    margin-right: 20px; /* Adicione o espaçamento horizontal desejado aqui */
    color: var(--white);
}
