{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}- EUC</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>
<body>
    <header>
        <div class="title">
            <!-- <img src="{% static 'images/logo.png' %}" alt="logo" class="logo"> -->
            <h1>EUC</h1>
        </div>
        
        <nav>
            
            
                <a href="{% url 'home' %}" class="nav-links">Página Inicial</a>
                <a href="#" class="nav-links">Calendário</a>
                <a href="#" class="nav-links">Comunicação</a>
                <a href="#" class="nav-links">Portal de Notícias</a>

                
                
        </nav>

        <div class="box-acoes">
            {% if user.is_authenticated %}
            <!-- Se o usuário está autenticado, exiba links para Notas, Perfil e Logout -->
            <a href="#" class="acoes-links">Notas</a>
            <a href="#" class="acoes-links">Perfil</a>
            <a href="{% url 'logout' %}" class="acoes-links">Logout</a>
            {% else %}
            <!-- Se o usuário NÃO está autenticado, exiba links para Login e Registro -->
            <a href="{% url 'login' %}" class="acoes-links">Login</a>
            <a href="{% url 'register' %}" class="acoes-links">Register</a>
            {% endif %}
        </div>
        
        <!-- Espaço para ícones de redes sociais 
        <div class="redes-sociais">
            
            <a href="#" class="icone-rede-social"><img src="#" alt="Facebook"></a>
            <a href="#" class="icone-rede-social"><img src="#" alt="Instagram"></a>
        </div>
        -->
    </header>
    
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>

    <footer>
        <a class="link-repo" target="_blank" href="https://github.com/Reis567/school-sys">Clique para ver o Repositório</a>
    </footer>
</body>
</html>
