<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Título Aqui</title>
    <!-- Adicione seus estilos CSS comuns aqui -->
    <link rel="stylesheet" href="#">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Página Inicial</a></li>
                <li><a href="#">Calendário</a></li>
                <li><a href="#}">Comunicação</a></li>
                <li><a href="#">Notas</a></li>
                <li><a href="#">Portal de Notícias</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
        <!-- Espaço para ícones de redes sociais 
        <div class="redes-sociais">
            
            <a href="#" class="icone-rede-social"><img src="#" alt="Facebook"></a>
            <a href="#" class="icone-rede-social"><img src="#" alt="Instagram"></a>
        </div>
        -->
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Rodapé com informações comuns a todas as páginas -->
    </footer>
</body>
</html>
