{% extends 'core/base.html' %}
{% load static %}

{% block title %}Homepage {% endblock title %}

{% block content %}
<section class="homeContainer">

          <div class="tituloEscola">
              <h1>
                <span>
                  Escola
                  <br>
                </span>
                Universo <br>do Conhecimento
              </h1>
        </div>


        <div class="Box-img-estudante">
          <img class="img-estudante" src="{% static 'images/estudante.jpg' %}" alt="Estudante">
        </div>



</section>


{% endblock content %}




